.card-container {
  display: flex;
  flex-direction: column;
  padding: 1%;

  width: 15%;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: var(--background-overlay);
}

.active {
  border: solid 3px var(--danger-color);
  color: var(--danger-color);
}
.total {
  border: solid 3px var(--primary-color);
  color: var(--primary-color);
}
.recovered {
  border: solid 3px var(--help-color);
  color: var(--help-color);
}
