@import url("./global.css");
html,
body {
  margin: 0;
  font-size: larger;
  font-family: var(--global-font);
}

.brand {
  font-family: var(--global-font-bold);
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2rem;
}

a {
  text-decoration: none;
}
